@import "../../../variables.scss";

.title {
  font-family: Lato;
  color: $main-accent;
  font-weight: bold;
  font-size: 24px;
}

.buttons {
  display: flex;
  .button {
    font-family: Lato;
    background-color: #fff;
    border: 1px solid $border;
    border-radius: 3px;
    padding: 11px 13px;
    margin-right: 6px;
    display: flex;
    align-items: center;
    width: 100px;
    height: 40px;
    cursor: pointer;
    .icon {
      color: $main-accent;
      width: 18px;
      height: 18px;
      margin-right: 10px;
    }
    .text {
      font-size: 13px;
      font-weight: bold;
    }
  }
}
