@import "../../variables.scss";

.story {
  background-color: #fff;
  margin-bottom: 7px;
  border-radius: 3px;
  border: solid 1px $border;
  display: grid;
  grid-template-columns: 70px auto 40px 53px;
  .image {
    width: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .content {
    padding: 12px 20px;
    .title {
      font-size: 16px;
      line-height: 1.5;
      margin-bottom: 12px;
    }
    .extra {
      margin-bottom: 15px;
    }
    .meta {
      display: flex;
      align-items: center;
      .icons {
        display: flex;
        .domainLogo {
          width: 18px;
          height: 18px;
          margin-right: 10px;
        }
      }
      .source {
        margin-right: 20px;
        color: $sideColor;
      }
      .timestamp {
        color: $sideColor;
      }
    }
  }
  .scoreContainer {
    display: flex;
    height: 30px;
    margin-top: 18px;
    .score {
      display: flex;
      align-items: center;
      padding: 6px;
      border-radius: 5px;
    }
    .scoreYellow {
      border: solid 1px $scoreYellow;
      color: $scoreYellow;
    }
    .scoreGreen {
      border: solid 1px $scoreGreen;
      color: $scoreGreen;
    }
    .scoreRed {
      border: solid 1px $scoreRed;
      color: $scoreRed;
    }
  }
  .moreButton {
    display: flex;
    padding: 6px;
    height: 30px;
    margin-top: 18px;
    justify-content: center;
    background-color: transparent;
    border: none;
    color: $warm-grey;
    cursor: pointer;
  }
}
