$header-background: #fff;
$content-background: #f7f7f7;
$accent-background: #eee;

$main-accent: #3971c1;
$border: #e0e0e0;
$sideColor: #666666;
$warm-grey: #8c8c8c;

$scoreGreen: #4eb495;
$scoreYellow: #ffb300;
$scoreRed: #ef6c00;
